@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;;
}

@font-face {
    font-family: 'professor';
    src: url(Fonts/professor.otf);
}

@font-face {
    font-family: 'topo';
    src: url(Fonts/topo.ttf);
}

@font-face {
    font-family:'meio';
    src: url(Fonts/meio.ttf);
}

body {
    background-color: #4d8d58;
}

/* all parts related to the header nav */
div.header_topo {
    background-color:#000000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div.header_logo img {
    width: 81px;
    height: 81px;
    display: flex;
    padding-left: 130px;
    padding-top: 19px;
    padding-bottom: 18px;
    padding-right: 50px;
}

header nav a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-family: 'professor',Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 30px;
}

header nav a:hover {
    background-color: #EBF2F2;
    color: #01260A;
    transition-duration: 0.5s;
    border-radius: 9px;
}

/* all parts relaciones to the main header*/
div.header_meio {
    background-color: #05612e5e;
    border: 1px solid black;
}

div.atividades {
    background-color: #000;
}

.h1_header {
    color: rgb(0, 0, 0);
    font-family: 'topo', Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 101.84px;
    text-align: left;
    padding-left: 129px;
    padding-top: 102px;
    padding-bottom: 5.51px;
}

.h2_header {
    font-family: 'meio',Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 63.22px;
    text-align: left;
    padding-left: 129px;
}

div.flex_visita {
    display: flex;
}

div.flex_visita {
    transition: border-radius 0.7s, color 0.5s;
}

div.flex_visita:hover {
    border-radius: 10px;
    color: #EBF2F2;
}


.button_visita {
    font-family: 'professor';
    font-size: 50px;
    color: white;
    margin-left: 129px;
    margin-top: 23.8px;
    margin-bottom: 90.38px;
    background-color: #000000;
    padding: 14.5px 86px;
    border-radius: 5px;
    transition: border-radius 0.5s;
    border: none;
}

.button_visita:hover {
    border-radius: 10px;
}



div.head_main {
    display: flex;
    width: 1440px;
    background-color: #000;
    justify-content: center;
}

div#foto_headmain img {
    width: 120px;

}

main {
    background-color: #000;
}

.h1head_main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45.82px;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    color: white;
}

#atv01 {
    border: 1px solid black;
    height: 540px;
    margin: auto;
    margin-bottom: 50px;
}

#atv02 {
    border: 1px solid black;
    height: 540px;
    margin: auto;    
}

#atv03 {
    border: 1px solid black;
    height: 540px;
    margin: auto;
}

#atv04 {
    border: 1px solid black;
    height: 540px;
    margin: auto;
}

#atv05 {
    border: 1px solid black;
    height: 540px;
    margin: auto;
}

#titulo_professor {
    font-family:'professor',Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;

    padding: 50px;

}

div.foto_professor {
    display: flex;
    justify-content: space-between;
    margin: auto;

}

div.foto_professor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1fr;
    gap: 20px; 
    justify-items: center;
  }
  
div.coluna01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

div#ana {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

h1#nome1, #nome2, #nome3, #nome4, #nome5 {
    text-align: center;
    font-family:'professor',Arial, Helvetica, sans-serif;
    color: rgb(13, 216, 40);
    font-size: 50px;

}

#prof_01 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-left: 350px;
}



div#fabiana {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}



#prof_02 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-right: 350px;
}

div.coluna02 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

div#cesar {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#prof_03 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-left: 350px;
}

div#jamantha {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#prof_04 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-right: 350px;
}

div.coluna03 {
    display: flex;
    justify-content: center;
}

div#boxe {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#prof_05 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 100px; /* TIRAR ESSA MARGIN AO CONTINUAR O SITE*/
}